# **Feature engineering**

In [1]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/MLops/Dataset_v2.csv')

In [2]:
df

,mainTitle,secondTitle,description,description2,نوع کالا,قیمت,cat1,cat2,cat3,زنانه/مردانه,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,شلوار بیرونی زنانه,۱ روز پیش در تهران، مجیدیه,کاملا نو،رنگ شتری\nمناسب فصل بهار و تابستان\nج...,شلوار بیرونی زنانه زنانه است. نوع لباس شلوار ب...,NaN,75000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
1,جلو مبلی عسلی چتری,۱ ساعت پیش در تهران، صالح‌آباد شرقی,✅تولید و پخش انواع جلو مبلی و عسلی با ۳۰٪تخفیف...,NaN,جلو مبلی و عسلی,2900000,خانه و آشپزخانه,مبلمان و صنایع چوب,مبلمان خانگی و میزعسلی,0,...,0,0,0,0,0,0,0,0,0,0
2,لباس مجلسی دخترانه,۲ روز پیش در تهران، پونک,همه در حد و تمیز,جنس لباس مجلسی دخترانه ، غیره است. مایل به معا...,غیره,1111,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
3,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸,۱ روز پیش در تهران، سعادت‌آباد,دو عدد پیراهن بسیار شیک ، مشکی کوتاه سایز ۳۶-۳۸,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸ زنانه است. نو...,NaN,1000000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
4,ایمورتال کلاچ اتوماتیک black,۲ روز پیش در تهران، مجیدیه,فروش اقساطی بدون سود\nنصب در محل\nموتور بوش ال...,نوع آگهی ایمورتال کلاچ اتوماتیک black ، فروشی ...,NaN,0,وسایل نقلیه,قطعات یدکی و لوازم جانبی,ایمورتال کلاچ اتوماتیک black,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,برقکار،برقکار ساختمان،دوربین تعمیرات,۳ روز پیش در تهران، میدان ولیعصر,برقکاری ساختمان،صنعتی و..\nتعمیرات وبازسازی\nن...,NaN,NaN,0,خدمات,پیشه و مهارت,برقکار،برقکار ساختمان،دوربین تعمیرات,0,...,0,0,0,0,0,0,0,0,0,0
32724,حسابدار خانم,۳ روز پیش در تهران، باغ فیض,مسلط به نرم افزار هلو,ساعات کاری حسابدار خانم ، از ۹ تا ۱۷ پنجشنبه‌ه...,NaN,0,استخدام و کاریابی (غیر رایگان),مالی و حسابداری و حقوقی,حسابدار خانم,0,...,0,0,0,0,0,0,0,0,0,0
32725,نیمست گردنبند طلا ورساچ E5J194,۳ روز پیش در تهران، میدان ولیعصر,نیمست طلا ورساچه 18عیار\nکد طلا : E5J194 وزن ط...,جنس نیمست گردنبند طلا ورساچ E5J194 ، طلا است.,ست و نیم‌ست,38280000,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
32726,اجاره سوییت مبله,۱ روز پیش در تهران، خلیج فارس,تمیز ضدعفونی شده\nپارکینگ \nدسترسی به مکان های...,متراژ اجاره سوییت مبله ، ۷۰ است. اتاق اجاره سو...,NaN,0,املاک,اجاره کوتاه مدت,آپارتمان و سوئیت,0,...,0,0,0,0,0,0,0,0,0,0
32727,خرید و خریدار موی طبیعی,۱۴ ساعت پیش در تهران، ائمه اطهار,خرید موهای شما فقط وفقط۵۵سانت به بالا لطفا زیر...,NaN,لوازم آرایشی و زیبایی,20000000,وسایل شخصی,آرایشی، بهداشتی و درمانی,خرید و خریدار موی طبیعی,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
!pip install hazm

In [4]:
descriptions = []

for i in range(df.shape[0]):
    if str(df.loc[i, 'description2']) != 'nan':
        descriptions += [df.loc[i, 'description'] + df.loc[i, 'description2']]
    else:
        descriptions += [df.loc[i, 'description']]

In [5]:
len(descriptions)

32728

In [6]:
import re

temp = ['_', '__', '___', '____', '______', '__________', '___________',
       '____________', '_____________', '______________',
       '_______________', '________________', '_________________',
       '__________________', '___________________',
       '____________________', '_____________________',
       '______________________', '_______________________',
       '________________________', '_________________________',
       '__________________________', '___________________________',
       '____________________________', '_____________________________',
       '______________________________',
       '_______________________________',
       '________________________________',
       '__________________________________',
       '___________________________________',
       '____________________________________',
       '_____________________________________',
       '______________________________________',
       '_______________________________________',
       '________________________________________',
       '____________________________________________',
       '_____________________________________________',
       '______________________________________________',
       '_______________________________________________',
       '✅', '⬆️', '♥', '⬇️', '⚪️']

def remove_emojis(text):
    # Emoji ranges taken from https://unicode.org/emoji/charts/full-emoji-list.html
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

REPLACEMENTS = []

for i in temp:
    REPLACEMENTS += [(i, '')]

for old, new in REPLACEMENTS:
    for i in range(len(descriptions)):
        descriptions[i] = remove_emojis(descriptions[i].replace(old, new))

In [7]:
from __future__ import unicode_literals
from hazm import *
import random 
import numpy as np
import nltk
import pandas as pd
import codecs
import tqdm

hazm_normalizer = Normalizer()

descriptions_normalized_hazm = [hazm_normalizer.normalize(x) for x in tqdm.tqdm(descriptions)]

100%|██████████| 32728/32728 [00:09<00:00, 3616.37it/s]

In [8]:
descriptions_sentences = [sent_tokenize(x) for x in tqdm.tqdm(descriptions_normalized_hazm)]

100%|██████████| 32728/32728 [00:00<00:00, 44133.79it/s]

In [9]:
descriptions_tokens = [[word_tokenize(sent) for sent in sents] for sents in tqdm.tqdm(descriptions_sentences)]

100%|██████████| 32728/32728 [00:04<00:00, 7667.81it/s]

In [10]:
stop_path = '/content/drive/MyDrive/MLops/stopwords.txt'
stopwords = [hazm_normalizer.normalize(x.strip()) for x in codecs.open(stop_path,'r','utf-8').readlines()]

In [11]:
descriptions_final = []

c = 0
for i in descriptions_tokens:
    c += 1
    if c % 1000 == 0:
        print(c)
    text = ''
    for j in i:
        for k in j:
            if k not in stopwords:
                text += k 
                text += ' '
    
    descriptions_final += [text]

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000

In [12]:
descriptions_final[1]

'تولید انواع جلو مبلی عسلی ۳۰ ٪تخفیف قیمت بازار جلو مبلی عسلی چتری طلایی نقره\u200cای ابکاری جلو مبلی قطر ۸۰ عسلی\u200cها قطر ۴۰ ارتفاع ۵۰.۶۰.۷۰ باطرح شیشه آیینه\u200cای وشامپاینی وسکوریت مشکی وطرح سنگ ام دی اف وکیوم ترکیه\u200cای ضد آب خش ضمانت کیفیت قیمت ارسال روز درب کارگاه مدل\u200cهای داخلی خارجی جهت توضیحات تماس بگیرید '

In [13]:
len(descriptions_final)

32728

# parse bert

In [14]:
!pip install transformers

In [16]:
from transformers import AutoConfig, AutoTokenizer, AutoModel

config = AutoConfig.from_pretrained("HooshvareLab/bert-base-parsbert-uncased")
tokenizer = AutoTokenizer.from_pretrained("HooshvareLab/bert-base-parsbert-uncased")
model = AutoModel.from_pretrained("HooshvareLab/bert-base-parsbert-uncased" )

In [ ]:
tokens = [tokenizer.encode(i, add_special_tokens=True) for i in descriptions]
ids = pad_sequence(tokens, maxlen=400, dtype='long', value=0, truncating='post', padding='post')
masks = []
for i in ids:
    masks += [[int(j > 0) for j in i]

ids = torch.tensor(ids).to('cuda:0')
masks = torch.tensor(masks).to('cuda:0')

In [ ]:
model.to('cuda:0')

bert_features = []

with torch.no_grad():
    last_hidden_states = model(ids, attention_mask=masks)
    bert_features += [last_hidden_states[0][:,0,:]]

In [ ]:
torch.save(bert_features, 'listMain.pt')

# tf-idf

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

tr_idf_model = TfidfVectorizer()
tf_idf_vector = tr_idf_model.fit_transform(descriptions_final)

In [15]:
print(type(tf_idf_vector), tf_idf_vector.shape)

<class 'scipy.sparse._csr.csr_matrix'> (32728, 50764)

In [16]:
tf_idf_array = tf_idf_vector.toarray()
tf_idf_array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
words_set = tr_idf_model.get_feature_names_out()
 
print(words_set)

['aa' 'aaa' 'aavid' ... '۹۹۹۰۰۰' '⁵ستاره' 'ℹا']

In [18]:
df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)
 
df_tf_idf

,aa,aaa,aavid,ab,abb,abbekonig,about,abs,absکره,abxy,...,۹۹۱,۹۹۲,۹۹۵,۹۹۵۰۰۰,۹۹۶,۹۹۷,۹۹۹,۹۹۹۰۰۰,⁵ستاره,ℹا
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
words_set

array(['aa', 'aaa', 'aavid', ..., '۹۹۹۰۰۰', '⁵ستاره', 'ℹا'], dtype=object)

In [20]:
df.rename(columns={"قیمت": "gheymat"}, inplace=True)

In [26]:
import numpy as np

# Assume your data is stored in a pandas DataFrame called 'df'
# Convert the dataframe to a numpy array
arr = df_tf_idf.to_numpy()

# Count the number of non-zero values in each column using numpy
non_zero_counts = np.count_nonzero(arr, axis=0)

# Select columns where the non-zero count is at least 10
selected_columns = np.where(non_zero_counts >= 10)[0]

# Create a new dataframe with only the selected columns
new_df = df_tf_idf.iloc[:, selected_columns]

In [27]:
new_df

,abs,ac,acer,action,active,adidas,adsl,ahd,air,alik,...,۹۵۰,۹۵۰۰,۹۶,۹۶۰,۹۷,۹۸,۹۸۰,۹۹,۹۹۰,۹۹۰۰۰۰
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Fast text

In [21]:
from gensim.models.fasttext import FastText

fast_text = FastText(descriptions_final,
                     vector_size=250,
                     window=5,
                     min_count=5,
                     sample=5e-2,
                     workers=5,
                     sg=1,
                     epochs=25)

WARNING:gensim.models.word2vec:Each 'sentences' item should be a list of words (usually unicode strings). First item here is instead plain <class 'str'>.

In [ ]:
words_list = list(tr_idf_model.get_feature_names_out())

fast_text_emb = []
for idx in range(len(descriptions_final)):
    comment_tfidf = tf_idf_vector[idx]
    comment_emb = []
    for token in descriptions_final[idx]:
        token_fast_emb = fast_text.wv[token]
        token_final_emb = token_fast_emb * comment_tfidf[0 , words_list.index(token)]
        comment_emb.append(token_final_emb)
            
    fast_text_emb.append(np.mean(comment_emb,axis=0))

In [ ]:
fast_text_df = pd.dataframe(fast_text_emb)

In [ ]:
fast_text_df.save('fast_text.csv')

In [13]:
fast_text_df = fast_text_df.drop(fast_text_df.columns[0], axis=1)
fast_text_df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-0.039934,0.007863,-0.000129,-0.042931,0.005069,-0.018266,0.012020,0.019895,0.008121,-0.029955,...,-0.002378,0.064797,-0.012828,0.014764,0.008729,0.022008,0.008662,-0.017951,0.030479,0.002764
1,-0.015688,-0.018209,-0.002819,0.006251,-0.009960,-0.015380,0.009293,0.015365,0.000996,0.001050,...,-0.004129,0.068538,-0.016712,0.013988,-0.002768,-0.006267,0.010451,-0.018824,0.040537,-0.014579
2,-0.108207,0.041883,-0.005114,-0.027982,-0.030875,0.007528,0.024267,0.097057,0.087812,-0.055219,...,-0.016285,0.089350,-0.009496,0.008330,0.028095,0.022621,-0.024091,0.007077,0.024512,0.043895
3,-0.096262,0.017929,-0.028830,-0.000962,-0.026543,-0.039989,0.040539,0.032271,0.025973,-0.056638,...,0.005582,0.091570,-0.007905,0.000803,-0.034699,-0.004683,-0.012327,-0.011487,0.076220,-0.032053
4,-0.028880,0.008453,-0.020357,-0.024458,-0.007090,-0.003827,-0.003956,-0.002631,0.005067,0.012246,...,-0.001280,0.036541,-0.008833,0.018926,0.005855,-0.002156,-0.003929,-0.023819,0.018675,-0.003786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,-0.106952,0.020976,-0.014265,-0.034094,-0.016388,-0.078058,0.046712,0.031840,-0.053277,-0.054171,...,-0.020784,0.060863,-0.065730,0.087648,0.027105,0.042686,-0.006113,0.028872,0.035286,-0.015707
32724,0.013865,-0.000024,0.007958,0.009728,-0.024198,-0.039737,0.010561,0.057456,0.024195,0.034760,...,0.030395,0.072623,-0.038547,-0.057536,0.066208,-0.044396,0.010433,0.076416,0.009889,0.068757
32725,-0.030251,0.004082,-0.012146,0.014343,0.003227,0.013349,0.027593,-0.001254,-0.009479,-0.016980,...,0.002176,0.005322,-0.001398,0.003870,0.027915,-0.012058,0.011336,-0.005688,-0.006816,0.000855
32726,0.000445,-0.019101,-0.066147,-0.002384,0.033995,-0.049089,-0.047864,0.025021,-0.048671,-0.009440,...,0.078330,0.008084,0.004770,-0.005382,-0.019699,-0.005587,0.043843,0.011045,0.052088,0.008177
32727,-0.037191,-0.000753,-0.034069,-0.004908,-0.026389,-0.002310,0.008678,-0.000750,-0.010310,-0.005568,...,0.009942,0.036024,-0.003243,0.001505,0.032192,0.000285,0.024504,0.006408,0.031276,-0.015376

# **Feature extraction**

# PCA

In [29]:
del descriptions
del descriptions_normalized_hazm
del descriptions_final
del descriptions_sentences
del descriptions_tokens
del tf_idf_array
del tf_idf_vector
del words_set
del df_tf_idf
del tr_idf_model
del hazm_normalizer

In [8]:
df

,mainTitle,secondTitle,description,description2,نوع کالا,قیمت,cat1,cat2,cat3,زنانه/مردانه,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,شلوار بیرونی زنانه,۱ روز پیش در تهران، مجیدیه,کاملا نو،رنگ شتری\nمناسب فصل بهار و تابستان\nج...,شلوار بیرونی زنانه زنانه است. نوع لباس شلوار ب...,NaN,75000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
1,جلو مبلی عسلی چتری,۱ ساعت پیش در تهران، صالح‌آباد شرقی,✅تولید و پخش انواع جلو مبلی و عسلی با ۳۰٪تخفیف...,NaN,جلو مبلی و عسلی,2900000,خانه و آشپزخانه,مبلمان و صنایع چوب,مبلمان خانگی و میزعسلی,0,...,0,0,0,0,0,0,0,0,0,0
2,لباس مجلسی دخترانه,۲ روز پیش در تهران، پونک,همه در حد و تمیز,جنس لباس مجلسی دخترانه ، غیره است. مایل به معا...,غیره,1111,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
3,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸,۱ روز پیش در تهران، سعادت‌آباد,دو عدد پیراهن بسیار شیک ، مشکی کوتاه سایز ۳۶-۳۸,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸ زنانه است. نو...,NaN,1000000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
4,ایمورتال کلاچ اتوماتیک black,۲ روز پیش در تهران، مجیدیه,فروش اقساطی بدون سود\nنصب در محل\nموتور بوش ال...,نوع آگهی ایمورتال کلاچ اتوماتیک black ، فروشی ...,NaN,0,وسایل نقلیه,قطعات یدکی و لوازم جانبی,ایمورتال کلاچ اتوماتیک black,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,برقکار،برقکار ساختمان،دوربین تعمیرات,۳ روز پیش در تهران، میدان ولیعصر,برقکاری ساختمان،صنعتی و..\nتعمیرات وبازسازی\nن...,NaN,NaN,0,خدمات,پیشه و مهارت,برقکار،برقکار ساختمان،دوربین تعمیرات,0,...,0,0,0,0,0,0,0,0,0,0
32724,حسابدار خانم,۳ روز پیش در تهران، باغ فیض,مسلط به نرم افزار هلو,ساعات کاری حسابدار خانم ، از ۹ تا ۱۷ پنجشنبه‌ه...,NaN,0,استخدام و کاریابی (غیر رایگان),مالی و حسابداری و حقوقی,حسابدار خانم,0,...,0,0,0,0,0,0,0,0,0,0
32725,نیمست گردنبند طلا ورساچ E5J194,۳ روز پیش در تهران، میدان ولیعصر,نیمست طلا ورساچه 18عیار\nکد طلا : E5J194 وزن ط...,جنس نیمست گردنبند طلا ورساچ E5J194 ، طلا است.,ست و نیم‌ست,38280000,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
32726,اجاره سوییت مبله,۱ روز پیش در تهران، خلیج فارس,تمیز ضدعفونی شده\nپارکینگ \nدسترسی به مکان های...,متراژ اجاره سوییت مبله ، ۷۰ است. اتاق اجاره سو...,NaN,0,املاک,اجاره کوتاه مدت,آپارتمان و سوئیت,0,...,0,0,0,0,0,0,0,0,0,0
32727,خرید و خریدار موی طبیعی,۱۴ ساعت پیش در تهران، ائمه اطهار,خرید موهای شما فقط وفقط۵۵سانت به بالا لطفا زیر...,NaN,لوازم آرایشی و زیبایی,20000000,وسایل شخصی,آرایشی، بهداشتی و درمانی,خرید و خریدار موی طبیعی,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df = df.drop(columns=["mainTitle", "secondTitle", 'description', 'description2', 'نوع کالا', 'cat2', 'cat3'])

In [10]:
# Pop the desired column out of the dataframe
desired_column = df.pop("cat1")

# Insert the desired column at the front of the dataframe
df.insert(0, "label", desired_column)

In [11]:
df

,label,قیمت,زنانه/مردانه,نوع لباس,جنس,مایل به معاوضه,تولیدکننده,نوع آگهی,قیمت کل,قیمت هر متر,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,وسایل شخصی,75000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,خانه و آشپزخانه,2900000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,وسایل شخصی,1111,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,وسایل شخصی,1000000,1,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,وسایل نقلیه,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,خدمات,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32724,استخدام و کاریابی (غیر رایگان),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32725,وسایل شخصی,38280000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32726,املاک,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32727,وسایل شخصی,20000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [38]:
name_list = df['label'].tolist()

new_df.insert(0, "label", name_list)

In [39]:
new_df

,label,abs,ac,acer,action,active,adidas,adsl,ahd,air,...,۹۵۰,۹۵۰۰,۹۶,۹۶۰,۹۷,۹۸,۹۸۰,۹۹,۹۹۰,۹۹۰۰۰۰
0,وسایل شخصی,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,خانه و آشپزخانه,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,وسایل شخصی,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,وسایل شخصی,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,وسایل نقلیه,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,خدمات,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32724,استخدام و کاریابی (غیر رایگان),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32725,وسایل شخصی,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32726,املاک,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32727,وسایل شخصی,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
X_features = new_df.iloc[:, 1:]
scaler = StandardScaler()
X_features = scaler.fit_transform(X_features)

In [41]:
pca3 = PCA(n_components=50)
X_pca = pca3.fit_transform(X_features)

In [42]:
X_pca

In [43]:
len(X_pca[0])

In [44]:
pca_dict = {}

for i in range(50):
    pca_dict['PC{}'.format(i)] = []
    for j in X_pca:
        pca_dict['PC{}'.format(i)] += [j[i]]

In [45]:
PCA_df = pd.DataFrame.from_dict(pca_dict)

In [46]:
PCA_df

In [47]:
name_list = df['label'].tolist()

PCA_df.insert(0, "label", name_list)

In [48]:
y_features = PCA_df.iloc[:, 0]

encoder = LabelEncoder()
y_features = encoder.fit_transform(y_features)

In [49]:
y_features

In [50]:
desired_column = PCA_df.pop("label")

PCA_df.insert(0, "label", y_features)

In [51]:
PCA_df

In [52]:
PCA_df.to_csv('PCA_tfidf.csv', encoding='utf-8', index=False)

# LDA

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA


encoder = LabelEncoder()
y_features = encoder.fit_transform(new_df["label"])

X_train, X_test, y_train, y_test = train_test_split(new_df.drop(columns=["label"]), y_features, test_size=0.2)


LDA_transform = LDA(n_components=5)
LDA_transform.fit(X_train, y_train)
features_new_train = LDA_transform.transform(X_train)
features_new_test = LDA_transform.transform(X_test)

# TSNE

In [ ]:
from sklearn.manifold import TSNE

TSNE_fast_text = TSNE(n_components=3, learning_rate='auto', init='random', perplexity=30).fit_transform(fast_text_df)

In [ ]:
TSNE_fast_text_df = pd.dataframe(TSNE_fast_text, columns=['TSNEFastText'+str(i) for i in range(3)])

In [ ]:
TSNE_fast_text_df.save('TSNE_fast_text.csv')

In [18]:
TSNE_fast_text_df = TSNE_fast_text_df.drop(TSNE_fast_text_df.columns[0], axis=1)
TSNE_fast_text_df

       TSNEFastText0  TSNEFastText1  TSNEFastText2
0           4.748672     -19.708075     -22.011896
1         -14.461815       1.615546      22.235472
2           3.431385     -33.618150     -16.012220
3          -2.353713     -28.756887     -20.651762
4         -18.035896      15.579451      -1.539775
...              ...            ...            ...
32723     -29.529758      21.839620      -6.249920
32724      -7.709962      -7.541573     -33.658234
32725       0.625195     -38.837970      -6.449823
32726      28.312610      -9.757930     -22.921696
32727     -19.124922     -10.596461     -17.480005

[32728 rows x 3 columns]