# FastText & TSNE & Logestic & random forest & xgboost & weigthed loss logestic regression

In [8]:
import pandas as pd


df = pd.read_csv('Dataset_v2.csv')
TSNE_fast_text_df = pd.read_csv('TSNE_fast_text.csv')

In [9]:
df

,mainTitle,secondTitle,description,description2,نوع کالا,قیمت,cat1,cat2,cat3,زنانه/مردانه,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,شلوار بیرونی زنانه,۱ روز پیش در تهران، مجیدیه,کاملا نو،رنگ شتری\nمناسب فصل بهار و تابستان\nج...,شلوار بیرونی زنانه زنانه است. نوع لباس شلوار ب...,NaN,75000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
1,جلو مبلی عسلی چتری,۱ ساعت پیش در تهران، صالح‌آباد شرقی,✅تولید و پخش انواع جلو مبلی و عسلی با ۳۰٪تخفیف...,NaN,جلو مبلی و عسلی,2900000,خانه و آشپزخانه,مبلمان و صنایع چوب,مبلمان خانگی و میزعسلی,0,...,0,0,0,0,0,0,0,0,0,0
2,لباس مجلسی دخترانه,۲ روز پیش در تهران، پونک,همه در حد و تمیز,جنس لباس مجلسی دخترانه ، غیره است. مایل به معا...,غیره,1111,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
3,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸,۱ روز پیش در تهران، سعادت‌آباد,دو عدد پیراهن بسیار شیک ، مشکی کوتاه سایز ۳۶-۳۸,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸ زنانه است. نو...,NaN,1000000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
4,ایمورتال کلاچ اتوماتیک black,۲ روز پیش در تهران، مجیدیه,فروش اقساطی بدون سود\nنصب در محل\nموتور بوش ال...,نوع آگهی ایمورتال کلاچ اتوماتیک black ، فروشی ...,NaN,0,وسایل نقلیه,قطعات یدکی و لوازم جانبی,ایمورتال کلاچ اتوماتیک black,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,برقکار،برقکار ساختمان،دوربین تعمیرات,۳ روز پیش در تهران، میدان ولیعصر,برقکاری ساختمان،صنعتی و..\nتعمیرات وبازسازی\nن...,NaN,NaN,0,خدمات,پیشه و مهارت,برقکار،برقکار ساختمان،دوربین تعمیرات,0,...,0,0,0,0,0,0,0,0,0,0
32724,حسابدار خانم,۳ روز پیش در تهران، باغ فیض,مسلط به نرم افزار هلو,ساعات کاری حسابدار خانم ، از ۹ تا ۱۷ پنجشنبه‌ه...,NaN,0,استخدام و کاریابی (غیر رایگان),مالی و حسابداری و حقوقی,حسابدار خانم,0,...,0,0,0,0,0,0,0,0,0,0
32725,نیمست گردنبند طلا ورساچ E5J194,۳ روز پیش در تهران، میدان ولیعصر,نیمست طلا ورساچه 18عیار\nکد طلا : E5J194 وزن ط...,جنس نیمست گردنبند طلا ورساچ E5J194 ، طلا است.,ست و نیم‌ست,38280000,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
32726,اجاره سوییت مبله,۱ روز پیش در تهران، خلیج فارس,تمیز ضدعفونی شده\nپارکینگ \nدسترسی به مکان های...,متراژ اجاره سوییت مبله ، ۷۰ است. اتاق اجاره سو...,NaN,0,املاک,اجاره کوتاه مدت,آپارتمان و سوئیت,0,...,0,0,0,0,0,0,0,0,0,0
32727,خرید و خریدار موی طبیعی,۱۴ ساعت پیش در تهران، ائمه اطهار,خرید موهای شما فقط وفقط۵۵سانت به بالا لطفا زیر...,NaN,لوازم آرایشی و زیبایی,20000000,وسایل شخصی,آرایشی، بهداشتی و درمانی,خرید و خریدار موی طبیعی,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
TSNE_fast_text_df

       Unnamed: 0  TSNEFastText0  TSNEFastText1  TSNEFastText2
0               0       4.748672     -19.708075     -22.011896
1               1     -14.461815       1.615546      22.235472
2               2       3.431385     -33.618150     -16.012220
3               3      -2.353713     -28.756887     -20.651762
4               4     -18.035896      15.579451      -1.539775
...           ...            ...            ...            ...
32723       32723     -29.529758      21.839620      -6.249920
32724       32724      -7.709962      -7.541573     -33.658234
32725       32725       0.625195     -38.837970      -6.449823
32726       32726      28.312610      -9.757930     -22.921696
32727       32727     -19.124922     -10.596461     -17.480005

[32728 rows x 4 columns]

In [11]:
TSNE_fast_text_df = TSNE_fast_text_df.drop(TSNE_fast_text_df.columns[0], axis=1)
TSNE_fast_text_df

       TSNEFastText0  TSNEFastText1  TSNEFastText2
0           4.748672     -19.708075     -22.011896
1         -14.461815       1.615546      22.235472
2           3.431385     -33.618150     -16.012220
3          -2.353713     -28.756887     -20.651762
4         -18.035896      15.579451      -1.539775
...              ...            ...            ...
32723     -29.529758      21.839620      -6.249920
32724      -7.709962      -7.541573     -33.658234
32725       0.625195     -38.837970      -6.449823
32726      28.312610      -9.757930     -22.921696
32727     -19.124922     -10.596461     -17.480005

[32728 rows x 3 columns]

In [12]:
name_list = df['cat1'].tolist()

TSNE_fast_text_df.insert(0, "label", name_list)

In [13]:
TSNE_fast_text_df

,label,TSNEFastText0,TSNEFastText1,TSNEFastText2
0,وسایل شخصی,4.748672,-19.708075,-22.011896
1,خانه و آشپزخانه,-14.461815,1.615546,22.235472
2,وسایل شخصی,3.431385,-33.618150,-16.012220
3,وسایل شخصی,-2.353713,-28.756887,-20.651762
4,وسایل نقلیه,-18.035896,15.579451,-1.539775
...,...,...,...,...
32723,خدمات,-29.529758,21.839620,-6.249920
32724,استخدام و کاریابی (غیر رایگان),-7.709962,-7.541573,-33.658234
32725,وسایل شخصی,0.625195,-38.837970,-6.449823
32726,املاک,28.312610,-9.757930,-22.921696
32727,وسایل شخصی,-19.124922,-10.596461,-17.480005

In [14]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

encoder = LabelEncoder()
y_features = encoder.fit_transform(TSNE_fast_text_df["label"])
X_train, X_test, y_train, y_test = train_test_split(TSNE_fast_text_df.drop(columns=["label"]), y_features, test_size=0.2)

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


classifier = LogisticRegression(max_iter=10000)

# Train the classifier on the training data
classifier.fit(X_train, y_train)

# Make predictions on the test data
y_pred = classifier.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6885120684387412

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split


# Create the Random Forest classifier object with default hyperparameters
rf_classifier = RandomForestClassifier()

# Fit the classifier to the training data
rf_classifier.fit(X_train, y_train)

# Predict labels for the test data
y_pred = rf_classifier.predict(X_test)

# Evaluate the classifier's performance on the test data
accuracy = rf_classifier.score(X_test, y_test)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9347693247784907

In [17]:
import xgboost as xgb


# Train an XGBoost classifier for multi-class classification
xgb_classifier = xgb.XGBClassifier(objective="multi:softmax", num_class=10, n_estimators=100, max_depth=10)
xgb_classifier.fit(X_train, y_train)

# Use the trained model to make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Calculate the accuracy of the model on the test set
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:36:46] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy: 0.9323250840207761

In [21]:
# set weights for the two classes
weights = {}
for i in range(10):
    count = 0
    for j in y_features:
        if j == i:
            count += 1
    weights[i] = count / len(y_features)

# initialize the logistic regression model with weight balancing
clf = LogisticRegression(class_weight=weights)

# fit the model to the data
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.6490986862205927

D:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(