# TF-idf + PCA + logestic & random forest & xgboost

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/MLops/Dataset_v2.csv')

In [10]:
df

,mainTitle,secondTitle,description,description2,نوع کالا,قیمت,cat1,cat2,cat3,زنانه/مردانه,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,شلوار بیرونی زنانه,۱ روز پیش در تهران، مجیدیه,کاملا نو،رنگ شتری\nمناسب فصل بهار و تابستان\nج...,شلوار بیرونی زنانه زنانه است. نوع لباس شلوار ب...,NaN,75000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
1,جلو مبلی عسلی چتری,۱ ساعت پیش در تهران، صالح‌آباد شرقی,✅تولید و پخش انواع جلو مبلی و عسلی با ۳۰٪تخفیف...,NaN,جلو مبلی و عسلی,2900000,خانه و آشپزخانه,مبلمان و صنایع چوب,مبلمان خانگی و میزعسلی,0,...,0,0,0,0,0,0,0,0,0,0
2,لباس مجلسی دخترانه,۲ روز پیش در تهران، پونک,همه در حد و تمیز,جنس لباس مجلسی دخترانه ، غیره است. مایل به معا...,غیره,1111,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
3,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸,۱ روز پیش در تهران، سعادت‌آباد,دو عدد پیراهن بسیار شیک ، مشکی کوتاه سایز ۳۶-۳۸,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸ زنانه است. نو...,NaN,1000000,وسایل شخصی,کیف، کفش و لباس,لباس,1,...,0,0,0,0,0,0,0,0,0,0
4,ایمورتال کلاچ اتوماتیک black,۲ روز پیش در تهران، مجیدیه,فروش اقساطی بدون سود\nنصب در محل\nموتور بوش ال...,نوع آگهی ایمورتال کلاچ اتوماتیک black ، فروشی ...,NaN,0,وسایل نقلیه,قطعات یدکی و لوازم جانبی,ایمورتال کلاچ اتوماتیک black,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,برقکار،برقکار ساختمان،دوربین تعمیرات,۳ روز پیش در تهران، میدان ولیعصر,برقکاری ساختمان،صنعتی و..\nتعمیرات وبازسازی\nن...,NaN,NaN,0,خدمات,پیشه و مهارت,برقکار،برقکار ساختمان،دوربین تعمیرات,0,...,0,0,0,0,0,0,0,0,0,0
32724,حسابدار خانم,۳ روز پیش در تهران، باغ فیض,مسلط به نرم افزار هلو,ساعات کاری حسابدار خانم ، از ۹ تا ۱۷ پنجشنبه‌ه...,NaN,0,استخدام و کاریابی (غیر رایگان),مالی و حسابداری و حقوقی,حسابدار خانم,0,...,0,0,0,0,0,0,0,0,0,0
32725,نیمست گردنبند طلا ورساچ E5J194,۳ روز پیش در تهران، میدان ولیعصر,نیمست طلا ورساچه 18عیار\nکد طلا : E5J194 وزن ط...,جنس نیمست گردنبند طلا ورساچ E5J194 ، طلا است.,ست و نیم‌ست,38280000,وسایل شخصی,زیورآلات و اکسسوری,جواهرات,0,...,0,0,0,0,0,0,0,0,0,0
32726,اجاره سوییت مبله,۱ روز پیش در تهران، خلیج فارس,تمیز ضدعفونی شده\nپارکینگ \nدسترسی به مکان های...,متراژ اجاره سوییت مبله ، ۷۰ است. اتاق اجاره سو...,NaN,0,املاک,اجاره کوتاه مدت,آپارتمان و سوئیت,0,...,0,0,0,0,0,0,0,0,0,0
32727,خرید و خریدار موی طبیعی,۱۴ ساعت پیش در تهران، ائمه اطهار,خرید موهای شما فقط وفقط۵۵سانت به بالا لطفا زیر...,NaN,لوازم آرایشی و زیبایی,20000000,وسایل شخصی,آرایشی، بهداشتی و درمانی,خرید و خریدار موی طبیعی,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df = df.drop(columns=["mainTitle", "secondTitle", 'description', 'description2', 'نوع کالا', 'cat1', 'cat2', 'cat3'])

In [12]:
df

,قیمت,زنانه/مردانه,نوع لباس,جنس,مایل به معاوضه,تولیدکننده,نوع آگهی,قیمت کل,قیمت هر متر,آژانس املاک,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,75000,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2900000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1111,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000000,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32725,38280000,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32727,20000000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_tfidf = pd.read_csv('/content/drive/MyDrive/MLops/PCA_tfidf.csv')

In [14]:
df_tfidf

,label,PC0,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,...,PC90,PC91,PC92,PC93,PC94,PC95,PC96,PC97,PC98,PC99
0,7,-1.045183,-1.531430,0.240932,-0.904954,-0.467291,-1.409497,-1.971540,0.738467,-1.001103,...,-0.854344,0.798883,-0.443191,0.044719,-0.462083,0.205820,3.045537,-0.916588,-1.317942,1.109953
1,4,-1.109538,-0.435467,0.258911,-0.608285,0.029364,1.485732,-2.581848,1.836203,-1.656756,...,-0.313474,0.935886,-0.163784,-0.247144,0.741299,0.002878,0.242145,-0.359303,-0.249605,0.162256
2,7,-0.673737,-1.575419,-0.281905,-0.393464,-0.331705,-1.722200,-1.586616,0.479855,-1.267868,...,-0.318252,-0.007850,0.571156,0.984295,0.089200,0.030084,0.295493,0.251943,0.212715,0.501902
3,7,-0.808245,-1.802081,-0.525492,-0.551780,-0.432181,-1.607466,-1.856199,0.638415,-1.182253,...,0.701131,-0.043271,1.003052,0.031103,-0.687437,-0.994598,0.906022,-0.898843,0.016445,1.187167
4,8,-2.117473,4.172606,-0.992297,-1.081568,0.027070,-0.285575,1.485310,-1.257771,1.695891,...,-0.356743,-0.806618,1.285453,-0.091018,-0.748122,0.406085,0.867393,-0.962285,-0.883073,-0.642540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,5,-0.828807,-1.230728,-0.158142,-0.261250,-0.105174,-1.074849,-0.460585,-0.110642,-0.217197,...,1.587208,-1.379735,-0.338541,0.341770,0.122584,-0.446158,1.320666,-1.246827,1.166759,-0.280812
32724,1,-0.971983,-0.533289,-0.840076,-0.483558,0.067630,0.910221,4.509768,1.758745,-2.154302,...,-0.487357,1.309680,1.397863,-0.259229,-0.571569,1.868570,0.636012,-0.642484,-0.764363,-0.630098
32725,7,-1.727709,2.682035,-1.141299,-1.141960,-0.140002,0.899243,3.019936,-1.480393,2.689226,...,-1.049243,-1.974950,-0.350093,-1.370194,-0.372698,-0.855902,1.193632,-2.710589,1.625883,-0.829021
32726,2,-1.342776,-0.956011,-1.066106,-0.552247,-0.243956,-0.677376,2.469845,-3.355694,2.751216,...,1.138334,-0.310696,0.880610,-0.758194,-0.284199,0.516541,-1.263081,2.219776,-0.565927,1.464074
32727,7,-1.068958,-0.672097,-0.009407,-0.492755,0.085893,0.413851,-0.958056,0.975432,-0.923051,...,1.198280,0.308923,-0.866379,-0.219842,-0.413596,-3.233389,-1.098063,0.761658,-0.205064,3.972699

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_tfidf.drop(columns=["label"]), df_tfidf["label"], test_size=0.2)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


classifier = LogisticRegression(max_iter=10000)

# Train the classifier on the training data
classifier.fit(X_train, y_train)

# Make predictions on the test data
y_pred = classifier.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8421937060800488

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split


# Create the Random Forest classifier object with default hyperparameters
rf_classifier = RandomForestClassifier()

# Fit the classifier to the training data
rf_classifier.fit(X_train, y_train)

# Predict labels for the test data
y_pred = rf_classifier.predict(X_test)

# Evaluate the classifier's performance on the test data
accuracy = rf_classifier.score(X_test, y_test)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8950504124656279

In [22]:
import xgboost as xgb


# Train an XGBoost classifier for multi-class classification
xgb_classifier = xgb.XGBClassifier(objective="multi:softmax", num_class=10, n_estimators=100, max_depth=10)
xgb_classifier.fit(X_train, y_train)

# Use the trained model to make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Calculate the accuracy of the model on the test set
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9026886648334861